<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date : "yyyy" }}
        <a class="font-weight-bold ml-1" target="_blank">DEP. SERVICIO COMUNITARIO</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <p class="nav-link text-danger">Para esta demo, no se requiere autenticación pues no está desplegado el api ni la bd. Para mas información no dude en contactarme:</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:romerovictordev@gmail.com">romerovictordev&#64;gmail.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://api.whatsapp.com/send?phone=+584242798175&text=Hola%20V%C3%ADctor,%20quiero%20comunicarme%20contigo">+58 424 279 8175</a>
        </li>
      </ul>
    </div>
  </div>
</footer>