<div class="main-content">
<nav class="navbar navbar-expand-md">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" routerLinkActive="active">
       HOME
    </a>
  </div>
</nav>
  <router-outlet></router-outlet>
</div>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date : "yyyy" }}
          <a class="font-weight-bold ml-1" target="_blank">DEP. SERVICIO COMUNITARIO</a>
        </div>
      </div>
    </div>
  </div>
</footer>
